{% extends "@admin/layout.twig" %}
{% block title %}Cartes en attente{% endblock %}
{% block pagetitle %}Paysafecard en attente{% endblock %}
{% block pagesubtitle %}Administez les différents cartes en attente.{% endblock %}

{% block body %}

    <div class="alert alert-info" role="alert">
        <i class="fas fa-bullhorn"></i> Une fois la confirmation de la carte la valeur sera directement ajouter au compte.
    </div>
<div class="card">
    <div class="card-body">
        <div class="d-flex bd-highlight">
            <div class="p-2 bd-highlight">
            </div>
            <div class="ml-auto p-2 bd-highlight">
                <a href="https://www.paysafecard.com/fr-fr/demander-le-solde/" class="btn btn-primary" title="Vérifier un code">Vérifier un code</a>
                <a href="{{ path('paysafecard.admin.all') }}" class="btn btn-info" title="Voir toutes les cartes">Voir toutes les cartes</a> 
            </div>
        </div>
        <div class="table-responsive">
        
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID MySQL</th>
                        <th scope="col">Code</th>
                        <th scope="col">Valeur</th>
                        <th scope="col">État</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% if paysafecards is not empty %}
                {% set token = csrf_input() %}
                    {% for paysafecard in paysafecards %}
                     <tr>
                        <td>{{ paysafecard.id }}</td>
                        <td>{{ paysafecard.code}}</td>
                        <td>{{ paysafecard.value }} {{ config('app.currency')}}</td>
                        <td>{{ paysafecard.status | paysafecard_status | raw}}</td>
                        <td>{{ paysafecard.createdAt.format('d/y/Y') }}</td>
                        <td>
                            <div class="row">
                            <form method="POST" action="{{ path('paysafecard.admin.accept',  {id: paysafecard.id}) }}">
                                {{ token | raw }}
                                <button class="btn btn-success mr-2"><i class="fas fa-money-bill-wave"></i></button>
                            </form>
                            <a class="btn btn-info mr-2" href="{{ path('account.admin.edit', {id: paysafecard.accountId})}}"><i class="fa fa-user"></i></a>
                            <form method="POST" action="{{ path('paysafecard.admin.refuse', {id: paysafecard.id}) }}">
                                {{ token | raw }}
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-danger"><i class="fas fa-times"></i></button>
                            </form>
                            
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="6">Aucun enregistrement trouvé</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            </div>
            <div class="d-flex justify-content-center mt-4">
                {% if query is defined %}
                    {{ paginate(paysafecards, routePrefix ~'.index', {'query':query}) }}
                {% endif %}
                {% if query is not defined %}
                    {{ paginate(paysafecards, routePrefix ~'.index') }}
                {% endif %}
            </div>
    </div>
</div>
{% endblock %}