{% extends "layout.twig" %}

{% block title 'Paysafecard' %}

{% block body %}

<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="card">
                    <div class="card-header with-border">
                        <h3 class="card-title">
                            Vos demandes
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Valeur</th>
                                        <th>État</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if paysafecards is not empty %}
                                        {% for paysafecard in paysafecards %}
                                            <tr>
                                                <td>{{ paysafecard.id }}</td>
                                                <td>{{ paysafecard.code}}</td>
                                                <td>{{ paysafecard.value }}
                                                    {{ config('app.currency')}}</td>
                                                <td>{{ paysafecard.status | paysafecard_status | raw}}</td>
                                                <td>{{ paysafecard.createdAt.format('d/y/Y') }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="5">Aucun enregistrement trouvé</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="card card-default color-palette-card">
                    <div class="card-header with-border">
                        <h3 class="card-title">
                            
                            Nouvelle demande</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{{ path('paysafecard.submit')}}">
                            {{ csrf_input() }}
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    {{ field('code', paysafecard.code, "Code PIN")}}
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    {{ field('value', paysafecard.value, "Valeur de la carte", {options: values})}}
                                    <!-- Héhé, On connait déjà tout cette technique :p-->
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-pen"></i> Soumettre
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}